/*Button 6 */
 .btn-button9{color:#fff;background-color:#13aadd;border-color:13ddbc}
 .btn-button9:hover,.btn-button9:focus,.btn-button9:active,.btn-button9.active,.open .dropdown-toggle.btn-button9{color:#fff;background-color:#85ebf4;border-color:13ddbc}
 .btn-button9:active,.btn-button9.active,.open .dropdown-toggle.btn-button9{background-image:none}
 .btn-button9.disabled,.btn-button9[disabled],fieldset[disabled] 
 .btn-button9,.btn-button9.disabled:hover,.btn-button9[disabled]:hover,fieldset[disabled] 
 .btn-button9:hover,.btn-button9.disabled:focus,.btn-button9[disabled]:focus,fieldset[disabled] 
 .btn-button9:focus,.btn-button9.disabled:active,.btn-button9[disabled]:active,fieldset[disabled] 
 .btn-button9:active,.btn-button9.disabled.active,.btn-button9[disabled].active,fieldset[disabled] 
 .btn-button9.active{background-color:#13aadd;border-color:13ddbc} 
