/*
pss.css
Jorge Delgado
*/

body{
	color:				#1975FF;
/* 	font-family:		"Segoe UI Light",Segoe,Tahoma,Arial,Verdana,sans-serif;		*/	
	font-family:	"SUNN";
	background-color: whitesmoke;
	background-size:	cover;
	margin:				1% 1%;
}

.sh1{
	font-size:			380%;
	text-align:			left;
	margin-bottom:		10px;
	margin-top:			10px;
	padding-bottom:		10px;
	color: 					#1975FF;
	}
	
.sh1a{
	font-size: 			20%;
	vertical-align:		super;
	color: 					#1975FF;
	
}

.sh4{
	font-size:			150%;
	text-align:			center;
} 

.sh7{
	font-size:			350%;
	text-align:			center;
	margin-left:		10%;
	width:				75%
} 

#header {
	clear:			 	both;
	text-align:			left;
	height:				20%;
	weight:				20%;
	/* background-color:	rgba(0,0,0, 0.5); 
	border-radius:		10px;
	*/
}

#navigation {
	font-size: 90%;
	font-weight: bold;
	text-align: center;
	margin-bottom: 300px;
	margin-left: 150px;
 }

 #navigation{
font-size: 90%;
font-weight: bold;
text-align: center;
margin-bottom: 300px;
margin-left: 150px;

}

#navigation ul li {
list-style: none; /* delete all bullet points */
float: left;
width: 245px; /* make it as a list*/
line-height: 2em; /* make it double space*/
}

#navigation a {
display: block;
border: thin solid blue;
}

#navigation ul li ul {
display: none;
}

#navigation ul li:hover ul {
display: block;
}

#navigation a:hover {
background: white
}

#event {
	width:				55%;
	font-size:			125%;
	color: 				black;
	margin:				auto;
	text-align:			center;
	/*background-color:   rgba(0,0,0,.5);
 	border:				2px solid black;
	*/
 }
 

#main {
	width:				55%;
	font-size:			125%;
	color: 					#1975FF;
	margin:				auto;
	text-align:			center;
	/*background-color:   rgba(0,0,0,.5);
 	border:				2px solid black;
	*/
 }
 
#searchform{ text-align: center; /* no padding */}
				
#footer{
	font-size:			55%;
	font-style:			italic;
	clear:				both;
	padding-top:		280px;
	text-align:			center;
}

#footer img {
	width:  150px;
	height: 53px;
	
}
 
a:link{
	color: 				#1975FF;
	text-decoration: 	none;
	
}
a:visited	{ color: 		#1975FF; } 

a:hover{ 
	color:				black;
	/* border-radius:		6px;
	background-color:	whitesmoke;
	font-weight:		bold;
	margin-left:		1px;
	padding-left:		10px;
	padding-right:		10px;
	width:				100px; */
	}

label {
	width:				33%;
	float:				center;
}

table {background-color: #00003D;}
	
th{width: 150px;text-align: left;}

#messages{
	font-size:			95%;
	font-style:			italic;
	text-align:			left;
	margin-top:			10px;
	text-align:			center;
	font-weight:		bold;
} 

select{
	width:				32.75%;
	height:				50%;
	border-radius:		10px;
	/* background:			white;
	color:				black; */
	margin:				2px 0px;
}

select:required{ background: #1975FF;}

select:valid{ background: white; color: black;}


input[type=text], input[type=password], input[type=email]{
	width:				31.5%;
	font-size:		200%;
	text-align:		center;
	padding:			3px;
	border-radius:		10px;

	
}

input:not([type=submit]):not([type=checkbox]):not([type=reset]){
	background:			white no-repeat top right;
	height:					50%;
	width:					80%;
	color:				black;
	margin-align:		auto;
}

input:not([type=submit]):not([type=checkbox]):valid{
	background-image:	url('../images/greencheck.png');
		
}

input[type=submit]{
	width: 7.5%;
	font-size:			  100%;
	text-align:			  center;
	margin-left:			-2.5%;
	padding:				  0.2%;
	border-radius:		  10px;
	background-color:  #00003D;
	color:			  white;			
		
}